body {
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: 100px auto;
    width: 360px;
    border: 2px solid gray;
    box-sizing: border-box;
}

h1 {
    background-color: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    height: 40px;
}

.listOfTodos {
    background: none;
}

.done {
    color: red;
}

ul {
    margin: 0;
    list-style: none;
}

.clickedToDo {
    color: red;
    text-decoration: line-through;
}

.removeBtn {
    display: inliine-block;
}

.hell {
    list-style: none;
}