body {
    background-color: aqua
}

#container {
    margin: 0 auto;
    width: 360px;
    border: 2px solid gray;
}

.listOfTodos {
    background: none;
}

.done {
    color: red;
}

ul {
    margin: 0;
    list-style: none;
}

.clickedToDo {
    color: red;
    text-decoration: line-through;
}

.removeBtn {
    display: inliine-block;
}

.hell {
    list-style: none;
}